@import "tailwindcss";
@import "./breadcrumbs.css";
@import "./horse.css";
@import "./pagy.css";

/* stylelint-disable scss/at-rule-no-unknown, property-no-unknown */
@plugin "daisyui" {
  themes:
    nord --default,
    night --prefersdark,
    all;
}
/* stylelint-enable scss/at-rule-no-unknown, property-no-unknown */

i {
  vertical-align: middle;
}

[popover] {
  transition: display 300ms;
}

@layer components {
  .turbo-progress-bar {
    @apply bg-gradient-to-r from-indigo-500 via-purple-400 to-pink-500;
  }
}

.table :where(thead, tfoot) {
  color: hsl(var(--color-base-200));
}
