@import "tailwindcss";

/* stylelint-disable */
@plugin "daisyui" {
  themes: nord --default, night --prefersdark, all;
}
/* stylelint-enable */

@import "./breadcrumbs.css";
@import "./horse.css";
@import "./pagy.css";

i {
  vertical-align: middle;
}

[popover] {
  transition: display 300ms;
  transition-behavior: allow-discrete;
}

@layer components {
  .turbo-progress-bar {
    @apply bg-gradient-to-r from-indigo-500 via-purple-400 to-pink-500;
  }
}

.table :where(thead, tfoot) {
  color: hsl(var(--color-base-200));
}
