@import "tailwindcss";
@import "~lightgallery/scss/lightgallery";

/* stylelint-disable */
@plugin "daisyui" {
  themes: nord --default, night --prefersdark;
}
/* stylelint-enable */

@layer components {
  .turbo-progress-bar {
    @apply bg-gradient-to-r from-indigo-500 via-purple-400 to-pink-500;
  }
}

.breadcrumbs ul.inline-flex {
  display: inline-flex !important;
}

.table :where(thead, tfoot) {
  color: hsl(var(--color-base-200));
}

td.mare,
td.filly {
  background-color: #ffcccc;
  color: #000000;
}

td.stallion,
td.colt {
  background-color: #ccccff;
  color: #000000;
}

td.gelding {
  background-color: #b3ebb3;
  color: #000000;
}

.pagy {
  @apply flex space-x-1 font-semibold text-sm text-gray-500;

  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-gray-200;

    &:hover {
      @apply bg-gray-300;
    }

    &:not([href]) {
      /* disabled links */
      @apply text-gray-300 bg-gray-100 cursor-default;
    }

    &.current {
      @apply text-white bg-gray-400;
    }
  }

  label {
    @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg px-3 py-0.5;

    input {
      @apply bg-gray-100 border-none rounded-md;
    }
  }
}
