@import "tailwindcss";
@import "./alerts.css";
@import "./breadcrumbs.css";
@import "./confirm_dialog.css";
@import "./horse.css";
@import "./pagy.css";

/* stylelint-disable scss/at-rule-no-unknown, property-no-unknown */
@plugin "daisyui" {
  themes: all;
}
/* stylelint-enable scss/at-rule-no-unknown, property-no-unknown */

i {
  vertical-align: middle;
}

[popover] {
  transition: display 300ms;
}

@layer components {
  .turbo-progress-bar {
    @apply bg-linear-to-r from-indigo-500 via-purple-400 to-pink-500;
  }
}

.table :where(thead, tfoot) {
  color: hsl(var(--color-base-200));
}

calendar-range {
  &::part(button) {
    border-radius: var(--radius-sm);
    background-color: var(--input-color);
    border: 1px solid;
    padding: 5px;
  }

  &::part(months) {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
  }
}

label.required:after {
  content: " *";
  color: red;
}
