/* Dialog */
#turbo-confirm-dialog {
  @apply bg-base-100 w-fit h-fit border-none rounded-md shadow-md outline outline-solid outline-base-content/50 p-6 text-left;
  outline-offset: -1px;
  margin: 33dvh auto 0 auto;
  min-width: 20rem;
  max-width: 32rem;
  justify-items: left;

  /* Animation */
  opacity: 1;
  scale: 1;
  transition:
    opacity 0.2s ease-out,
    scale 0.2s ease-out,
    overlay 0.2s ease-out allow-discrete,
    display 0.2s ease-out allow-discrete;
}
#turbo-confirm-dialog[open] {
  @starting-style {
    opacity: 0;
    scale: 0.95;
  }
}
#turbo-confirm-dialog:not([open]) {
  @apply opacity-0 scale-95;
}
#turbo-confirm-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
  transition:
    background-color 0.2s ease-out,
    overlay 0.2s ease-out allow-discrete,
    display 0.2s ease-out allow-discrete;
}
#turbo-confirm-dialog[open]::backdrop {
  @starting-style {
    background-color: rgb(0 0 0 / 0);
  }
}
#turbo-confirm-dialog:not([open])::backdrop {
  background-color: rgb(0 0 0 / 0);
}

/* Dialog header */
#turbo-confirm-dialog header hgroup {
  @apply text-left m-0;
}

/* Dialog footer */
#turbo-confirm-dialog footer {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;
  justify-content: end;
}
#turbo-confirm-dialog footer form {
  @apply m-0;
}

/* Cancel button */
.confirm-dialog-cancel-btn {
  @apply btn btn-neutral inset-shadow-xs font-semibold text-sm border-0 justify-center inline-flex rounded-md;
}

/* Delete/Confirm button */
.confirm-dialog-confirm-btn {
  @apply inset-shadow-xs font-semibold text-sm border-0 justify-center inline-flex rounded-md;
}
