:root,
:root.light {
  --female-horse-color: #d35353;
  --male-horse-color: #5353d3;
  --gelded-horse-color: #53d353;
  --table-female-horse-color: #f5aeae;
  --table-male-horse-color: #aeaef5;
  --table-gelded-horse-color: #aef5ae;
}

:root.dark {
  --female-horse-color: #fcc;
  --male-horse-color: #ccccff;
  --gelded-horse-color: #ccffcc;
  --table-female-horse-color: #fcc;
  --table-male-horse-color: #ccccff;
  --table-gelded-horse-color: #ccffcc;
}

.text-filly,
.text-mare,
.text-filly a,
.text-mare a {
  color: var(--female-horse-color);
}

.text-colt,
.text-stallion,
.text-colt a,
.text-stallion a {
  color: var(--male-horse-color);
}

.text-gelding,
.text-gelding a {
  color: var(--gelded-horse-color);
}

.text-bronze {
  color: #cd7f32;
}
.text-silver {
  color: #c0c0c0;
}
.text-gold {
  color: #ccac00;
}
.text-platinum {
  color: #e5e4e2;
}

td.mare,
td.filly {
  background-color: var(--table-female-horse-color);
  color: #000;
  a {
    color: #000;
  }
}

td.stallion,
td.colt {
  background-color: var(--table-male-horse-color);
  color: #000;
  a {
    color: #000;
  }
}

td.gelding {
  background-color: var(--table-gelded-horse-color);
  color: #000;
  a {
    color: #000;
  }
}

/* stylelint-disable property-no-unknown */
#horse-race-results-anchor {
  anchor-name: --horse-race-results;
}

#horse-race-results {
  position-anchor: --horse-race-results;
  margin: 0;
  inset: auto;
  top: anchor(--horse-race-results bottom);
  justify-self: anchor-center;
}
/* stylelint-enable property-no-unknown */

.stars-5 {
  color: var(--color-yellow-500);
}
.stars-4 {
  color: var(--color-purple-700);
}
.stars-3 {
  color: var(--color-sky-700);
}
.stars-2 {
  color: var(--color-lime-700);
}
.stars-1 {
  color: var(--color-yellow-700);
}
.stars-0 {
  color: var(--color-red-700);
}
