:root,
:root.light {
  --female-horse-color: #d35353;
  --male-horse-color: #5d5de8;
  --gelded-horse-color: #73d173;
}

:root.dark {
  --female-horse-color: #fcc;
  --male-horse-color: #ccf;
  --gelded-horse-color: #b3ebb3;
}

.text-filly,
.text-mare,
.text-filly a,
.text-mare a {
  color: var(--female-horse-color);
}

.text-colt,
.text-stallion,
.text-colt a,
.text-stallion a {
  color: var(--male-horse-color);
}

.text-gelding,
.text-gelding a {
  color: var(--gelded-horse-color);
}

td.mare,
td.filly {
  background-color: var(--female-horse-color);
  color: #000;
  a {
    color: #000;
  }
}

td.stallion,
td.colt {
  background-color: var(--male-horse-color);
  color: #000;
  a {
    color: #000;
  }
}

td.gelding {
  background-color: var(--gelded-horse-color);
  color: #000;
  a {
    color: #000;
  }
}

/* stylelint-disable property-no-unknown */
#horse-race-results-anchor {
  anchor-name: --horse-race-results;
}

#horse-race-results {
  position-anchor: --horse-race-results;
  margin: 0;
  inset: auto;
  top: anchor(--horse-race-results bottom);
  justify-self: anchor-center;
}
/* stylelint-enable property-no-unknown */
