= turbo_stream.replace("messages", partial: "layouts/flash")
= turbo_stream.replace("#{@boarding.horse.slug}-info", partial: "horses/info", locals: { horse: @boarding.horse.reload })
= turbo_stream.replace("breadcrumbs", partial: "horses/breadcrumbs", locals: { horse: @boarding.horse.reload })
