repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: check spelling
        files: ^(app|spec)/ # Only application + test code
        args: [ --exclude-file=pnpm-lock.yaml ]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        name: check for hardcoded secrets
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.7 # Use the sha / tag you want to point at
    hooks:
      - id: biome-check
  - repo: https://github.com/rubocop/rubocop
    rev: v1.81.1
    hooks:
      - id: rubocop
        name: run rubocop
        additional_dependencies:
          - rubocop-capybara
          - rubocop-factory_bot
          - rubocop-graphql
          - rubocop-performance
          - rubocop-rails
          - rubocop-rake
          - rubocop-rspec
          - rubocop-rspec_rails
  - repo: local
    hooks:
      - id: active-record-doctor
        language: script
        name: run active record doctor
        files: \/db\/migrate\/.+\.rb
        entry: bin/active_record_doctor
      - id: brakeman
        language: script
        name: run brakeman
        types: [ ruby ]
        entry: bin/brakeman --quiet --no-pager --exit-on-warn --exit-on-erro
        pass_filenames: false
      - id: i18n-normalize
        language: script
        name: run i18n normalize
        files: \/config\/locales\/.+\.yml
        entry: bundle exec i18n-tasks normalize
      - id: image-optim
        language: script
        name: run image-optim
        types_or: [ jpeg, gif, png, svg ]
        entry: image_optim
      - id: slim-lint
        language: script
        name: run slim-lint
        files: \.slim$
        entry: bin/slim-lint
