= button_to t("horse.actions.lease_offer.accept"), horse_lease_offer_acceptance_path(object), class: classes,
        data: { turbo_confirm: t("horse.lease_offers.accept.confirm"),
                turbo_confirm_title: t("horse.lease_offers.accept.confirm_title"), turbo_frame: "_top" }
