- classes = single_action ? "btn btn-light btn-sm border border-success text-success text-decoration-none" : dropdown_classes
= link_to t("horse.actions.sale_offer.accept"), horse_sale_offer_acceptance_path(object), class: classes, data: { turbo_confirm: t("horse.sale_offers.confirm"), turbo_method: :post, turbo_frame: "_top" }
