- classes = single_action ? "btn btn-outline btn-error btn-outline btn-sm" : ""
= link_to t("horse.actions.create_lease_offer"), new_lease_offer_path(object), class: classes, data: { turbo_frame: "modal" }
