= button_to t("horse.actions.sale_offer.reject"), horse_sale_offer_path(object), class: classes, method: :delete,
        data: { turbo_confirm: t("horse.sale_offers.reject.confirm"),
                turbo_confirm_title: t("horse.sale_offers.reject.confirm_title") }
