- classes = single_action ? "btn btn-outline btn-error btn-outline btn-sm" : dropdown_classes
= link_to t("horse.actions.current_lease.terminate"), new_horse_lease_termination_path(object), class: classes, data: { turbo_frame: "modal" }
