%li
  = button_to settings_path, method: :patch, class: "dropdown-item" do
    = hidden_field_tag "locale", @locale
    %span.me-2{ class: icon_classes }
    = locale_language
    - if current_locale?
      %i.fas.fa-check.ms-2
