- classes = single_action ? "btn btn-light btn-sm border border-success text-success text-decoration-none" : ""
= link_to t("common.actions.edit"), edit_current_stable_path, class: classes, data: { turbo_frame: "modal" }
