- classes = single_action ? "btn btn-error btn-outline btn-sm" : ""
= link_to t("view_components.nav.breadcrumbs.actions.impersonate"), admin_impersonate_path(id: object.user_id), class: classes, data: { turbo_method: :post, turbo_frame: "_top" }
