.button-outline {
  @extend .btn;
  @extend .btn-light;
  @extend .border;
  @extend .text-decoration-none;
}

.button-success-outline {
  @extend .button-outline;
  @extend .border-success;
  @extend .text-success;
}

.button-danger-outline {
  @extend .button-outline;
  @extend .border-danger;
  @extend .text-danger;
}

.button-action {
  @extend .btn;
  @extend .text-decoration-none;
  @extend .button-outline;
}

.button-action-success {
  @extend .button-action;
  @extend .border-success;
  @extend .text-success;
}

.button-action-danger {
  @extend .button-action;
  @extend .border-danger;
  @extend .text-danger;
}
