$flex-gap: 0.5rem;

.flex-gap {
  gap: $flex-gap;
}

.filters-layout span,
.input-daterange {
  width: calc(25% - 0.75 * $flex-gap);

  &.input-daterange {
    width: calc(50% - 0.5 * $flex-gap);

    span {
      flex-grow: 1;
    }
  }
}

@media (max-width: 991px) {
  .filters-layout span,
  .input-daterange {
    width: calc(33% - 0.67 * $flex-gap);

    &.input-daterange {
      width: calc(66% - 0.33 * $flex-gap);
    }
  }
}

@media (max-width: 768px) {
  .filters-layout span,
  .input-daterange {
    width: calc(50% - 0.5 * $flex-gap);

    &.input-daterange {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .filters-layout span,
  .input-daterange {
    width: 100%;

    &.input-daterange {
      flex-wrap: wrap;
    }
  }
}
