// Your custom styles

body {
  background-color: #fbfbfb;
}

main {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 68px;
}

@media (min-width: 991.98px) {
  main {
    margin-left: 240px !important;
    margin-right: 0;
  }
}

a {
  color: $blue-600;
}

#breadcrumbs {
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d1e4ff;
  margin-bottom: 10px;
}

ol.breadcrumb {
  margin-bottom: 0 !important;
}

.breadcrumb-item a {
  color: shade-color($primary, 40%);
}

.breadcrumb-item.active {
  color: shade-color($primary, 40%) !important;
}

.breadcrumb-item .active a {
  color: shade-color($primary, 40%);
  text-decoration: none !important;
}

@media (max-width: 767.98px) {
  .breadcrumb-item {
    --bs-breadcrumb-divider: "";
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.list-group-item-action.active {
  color: $blue-600 !important;
  background-color: #fbfbfb !important;
  border-left: 1px solid var(--bs-list-group-active-border-color);
  border-right: 1px solid var(--bs-list-group-active-border-color);
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.text-truncate-container {
  max-height: 100px;
}

.text-truncate-container p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-select {
  appearance: none;
}
