// Your custom styles


body {
  background-color: #fbfbfb;
}

main {
  margin-left: 10px;
  margin-top: 68px;
}

@media (min-width: 991.98px) {
  main {
    margin-left: 240px !important;
  }
}

#breadcrumbs {
  width: 100%;
  padding-left: 20px;
  background-color: #d1e4ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

ol.breadcrumb {
  margin-bottom: 0 !important;
}

.breadcrumb-item .active a {
  color: var(--bs-breadcrumb-item-active-color) !important;
  text-decoration: none !important;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

