.header.is-flex.flex-wrap-wrap.is-justify-content-space-between.is-vcentered.columns.has-text-centered
  %h1.text-center= t('stables.index.title', count: stables.count)

= turbo_frame_tag "stables" do
  - stables.in_groups_of(4) do |list|
    .row.mb-3
      - list.each do |stable|
        .col-sm-3
          = render stable if stable