- content_for :breadcrumbs do
  = render Nav::Breadcrumbs::Component.new(links: [{ name: t("stables.index.all"), href: stables_path },
                                                   { name: @stable.name, href: "#" }],
                                           actions: [{ name: "impersonate",
                                                       link: admin_impersonate_path(id: @stable.user_id),
                                                       i18n_key: ".impersonate",
                                                       object: @stable,
                                                       user: current_user,
                                                       base_classes: "btn btn-error btn-outline btn-sm",
                                                       classes: " d-none d-md-inline",
                                                       responsive_classes: "w-100",
                                                       type: :form },
                                                     { name: "edit",
                                                       link: edit_current_stable_path,
                                                       i18n_key: "common.edit",
                                                       user: current_user,
                                                       object: @stable,
                                                       base_classes: "btn btn-success btn-outline btn-sm",
                                                       classes: "ms-3 me-3",
                                                       responsive_classes: "w-100",
                                                       type: :link }])
= turbo_frame_tag @stable do
  = render "stable", stable: @stable
