- content_for :breadcrumbs do
  = render Shared::BreadcrumbsComponent.new(links: [{ name: t("stables.index.all"), href: stables_path },
    { name: stable.name, href: "#" }])

%h1= stable.name

%p= t(".joined", date: l(stable.created_at.to_date, format: :long))
