- content_for :breadcrumbs do
  = render Shared::BreadcrumbsComponent.new(links: [{ name: t("stables.index.all"), href: stables_path },
    { name: stable.name, href: "#" }], actions: [{ name: "impersonate",
    link: admin_impersonate_path(id: stable.user_id), i18n_key: "components.stable.impersonate", object: stable,
    user: current_user, base_classes: "btn btn-light btn-sm border border-danger text-danger text-decoration-none",
    classes: " d-none d-md-inline", responsive_classes: "w-100" },
    { name: "edit", link: edit_current_stable_path, i18n_key: "common.edit", user: current_user, object: stable,
    base_classes: "btn btn-light btn-sm border border-success text-success text-decoration-none",
    classes: "ms-3 me-3", responsive_classes: "w-100" }])

%h1= stable.name

%p= t(".joined", date: l(stable.created_at.to_date, format: :long))

- if stable.description?
  %blockquote.blockquote.border.border-secondary.rounded.p-2
    %p= stable.description.html_safe # rubocop:disable Rails/OutputSafety
