= turbo_stream.append "horse-list" do
  = render partial: "schedule_horse", collection: horses.includes(:training_schedule), as: :horse, locals: { schedule:  }

= turbo_stream.replace "load_more" do
  = render_load_more(@pagy)
