.px-4.py-5.my-5.text-center
  %h1.display-5.fw-bold Hi!
  .col-lg-6.mx-auto
    %p.lead.mb-4= "Current user: #{current_user&.name}"
    %p
      %i.box-arrow-in-left.text-primary
      %svg.bi.box-arrow-in-left.text-success{ width: "32", height: "32", fill: "currentColor", viewBox: "0 0 16 16", xmlns: "http://www.w3.org/2000/svg" }