development:
  adapter: redis
  url: redis://localhost:6379/1
test:
  adapter: test
production:
  adapter: redis
  channel_prefix: final_furlong_production
  url: <%= ENV.fetch("REDIS_URL") { "redis://localhost:6379/1" } %>
