default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: [ critical, mailers, notifications, default, low_priority ]
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  workers:
    - queues: [ critical, mailers, notifications, default, low_priority, solid_queue_recurring ]
      threads: 3
      polling_interval: 5
