ruby:
  final_slot = Breeding::Slot.order(month: :asc, start_day: :asc).last
  breeding_season_end_date = Date.new(Date.current.year, final_slot.month, final_slot.end_day)
  breeding_season_ended = Date.current > breeding_season_end_date
  mares_count = breeding_season_ended ? 0 : Horses::Horse::Broodmare.managed_by(Current.stable).broodmare.active.where.missing(:next_foal).count
- if mares_count.positive?
  .card.bg-base-100.w-full
    .card-body.p-0.rounded-none
      details.collapse.collapse-arrow.bg-base-100
        summary.text-center.collapse-title.font-semibold
          = t(".mares").titleize.pluralize(mares_count)
          = " (#{mares_count})"
        .collapse-content.text-sm
          = turbo_frame_tag "#{Current.stable.slug}-unbred-mares", src: stable_unbred_mares_path, loading: "lazy" do
            .w-full.text-center
              p.mx-auto= t(".loading_mares")
              .mt-2.mx-auto.skeleton.w-full
