= turbo_stream.append "budget-transaction-list" do
  = render partial: "budget_entry", collection: @dashboard.transactions, as: :transaction

= turbo_stream.replace "load-more" do
  = render_load_more(@dashboard.pagy)
