= turbo_stream.replace "#{@horse.slug}-future-race-display" do
  = render partial: "display", locals: { races: @races, racehorse_type: @horse.race_options.racehorse_type.to_s.inquiry, dashboard: @dashboard, horse: @horse, pagy: @pagy }

= render "shared/loading", pagy: @pagy
