/# locals: (entry:)
- race = entry.race
- horse = entry.horse
- data = horse.racehorse_metadata
tr
  td= l(race.date)
  td class="text-#{horse.gender}" = link_to horse.name_with_title, horse_path(horse), target: "_top"
  td= race.racetrack.name
  td class="#{'link' if (Date.current >= race.entry_open_date)}"
    = link_to race.race_description_string, new_racing_race_entry_path(race)
  td= data.energy_grade
  td= data.fitness_grade
  td
    - if entry.entry_status == "entered"
      span.badge.bg-success.text-success-content.badge-outline= t(".entered")
    - elsif entry.entry_status == "skipped"
      span.badge.bg-warning.text-warning-content.badge-outline= t(".skipped")
    - elsif entry.entry_status == "errored"
      span.badge.badge-error.bg-error.text-error-content= t(".errored", message: t(".#{entry.entry_error}"))
    - else
      span.badge.badge-secondary.bg-secondary.text-secondary-content= t(".scheduled")
