= render Nav::Breadcrumbs::Component.new(links: [{ name: t(".title"), href: "#" }, { name: t(".search", query: @query), href: "#" }])

= render partial: "searches/search_results", locals: { query: @query, results: @results, counts: @counts }
