- content_for :breadcrumbs do
  = render Nav::Breadcrumbs::Component.new(links: [{ name: @horse.name, href: horse_path(@horse) }, { name: t(".title"), href: "#" }])

= render "form", comment: @comment, horse: @horse, url: horse_comments_path(@horse)
