.buttons {
  form {
    margin-bottom: 8px;
  }
}

//.navbar {
//  border-bottom: 1px solid $primary;
//  margin-bottom: 0.5em;
//}

main.container {
  padding-bottom: 3em;
}

//.turbo-progress-bar {
//  background: linear-gradient(to right, $info 25%, $primary 50%);
//}
