//@import 'bootstrap/scss/bootstrap';
//@import 'bootstrap-icons/font/bootstrap-icons';

@import 'custom';
@import 'nav';
@import 'variables';

// MDBootstrap
@import 'mixins/ripple';
@import 'ripple';

@import 'turbo';
