/# locals: (mare:, stud:)
= link_to t("horse.mare_bookings.studs.request_slot"), new_horse_pending_mare_booking_path(mare, stud_id: stud.id), class: "ml-4 btn btn-primary", data: { turbo_frame: "modal" }
