= turbo_stream.replace("#{@horse.slug}-slot-#{@slot.id}", partial: "horse/mare_bookings/stud_slot_table_row", locals: { mare: @horse, slot: @slot, new_booking: @breeding, button_template: @template })
