on:
  workflow_call:

env:
  CI: true

jobs:
  security:
    name: Security
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install packages
        run: |
          yarn install --pure-lockfile

      - name: Bundler Audit
        run: |
          bin/bundler-audit check --update

      - name: Brakeman
        uses: reviewdog/action-brakeman@v2
        with:
          brakeman_version: gemfile
          reporter: github-pr-check

      - name: Yarn Audit
        run: |
          yarn audit
