on:
  workflow_call:
    secrets:
      code-climate-token:
        description: 'API key to report to Code Climate'
        required: true

env:
  CI: true
  RAILS_ENV: test
  DATABASE_URL: postgres://postgres:postgres@localhost:5432/final_furlong_test
  REDIS_URL: redis://localhost:6379/0

jobs:
  tests:
    name: Tests
    timeout-minutes: 20
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: final_furlong_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports: ['6379:6379']
        options: --entrypoint redis-server

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup test database
        run: |
          cp config/database.yml.github_actions config/database.yml
          bin/rails db:create
          bin/rails db:test:prepare

      - name: Run tests
        run: bin/rspec

      - name: Publish code coverage to Code Climate
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.code-climate-token }}

      - name: Archive LCOV report
        uses: actions/upload-artifact@v3
        with:
          name: lcov-coverage-report
          path: coverage/lcov.info

      - name: Archive XML report
        uses: actions/upload-artifact@v3
        with:
          name: xml-coverage-rpoert
          path: coverage/coverage.xml

