name: Main CI

on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  workflow_dispatch:

concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-ci:
    uses: Final-Furlong/final_furlong/.github/workflows/_ci.yml@main
    secrets:
      lcov-token: ${{ secrets.LCOV_GITHUB_TOKEN }}
      code-climate-token: ${{ secrets.CC_TEST_REPORTER_ID }}
