name: CI

on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  workflow_dispatch:

concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true
  EXTERNAL_CI: true
  RAILS_ENV: test
  MAILTRAP_API_KEY: foo

jobs:
  run-ci:
    uses: Final-Furlong/final_furlong/.github/workflows/_ci.yml@main
    secrets:
      lcov-token: ${{ secrets.LCOV_GITHUB_TOKEN }}
      code-climate-token: ${{ secrets.CC_TEST_REPORTER_ID }}
      cypress-record-key: ${{ secrets.CYPRESS_RECORD_KEY }}
