name: CI

on:
  push:
    branches:
      - 'main'
      - 'releases/**'

jobs:
  call-linters:
    uses: Final-Furlong/final_furlong/.github/workflows/partials/linters.yml@main

  call-security:
    uses: Final-Furlong/final_furlong/.github/workflows/partials/security.yml@main

  call-tests:
    uses: Final-Furlong/final_furlong/.github/workflows/partials/tests.yml@main
    needs: ['call-linters', 'call-security']
