name: Nightly CI

on:
  schedule:
    - cron: '0 0 * * *'  # Every day at midnight UTC

concurrency:
  # The concurrency group contains the workflow name and the branch name.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true
  EXTERNAL_CI: true
  RAILS_ENV: test
  MAILTRAP_API_KEY: foo

jobs:
  run-ci:
    uses: Final-Furlong/final_furlong/.github/workflows/_ci_limited.yml@main
