name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CI: true
  RAILS_ENV: test

jobs:
  call-linters:
    uses: Final-Furlong/final_furlong/.github/workflows/_linters.yml@fix-actions

  danger:
    name: Danger
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
        run: |
          bin/danger

  call-security:
    uses: Final-Furlong/final_furlong/.github/workflows/_security.yml@fix-actions

  call-tests:
    uses: Final-Furlong/final_furlong/.github/workflows/_tests.yml@fix-actions
    needs: ['call-linters', 'call-security']
    secrets:
      lcov-token: ${{ secrets.LCOV_GITHUB_TOKEN }}
      code-climate-token: ${{ secrets.CC_TEST_REPORTER_ID }}
