name: CI

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true
  RAILS_ENV: test
  COVERAGE: true

jobs:
  setup:
    uses: Final-Furlong/final_furlong/.github/workflows/_dependencies.yml@cypress-rails-gem

  call-linters:
    needs: [ 'setup' ]
    uses: Final-Furlong/final_furlong/.github/workflows/_linters.yml@cypress-rails-gem

  call-security:
    needs: [ 'setup' ]
    uses: Final-Furlong/final_furlong/.github/workflows/_security.yml@cypress-rails-gem

  call-tests:
    if: "!contains(github.event.commits[0].message, '[ci skip]') && !contains(github.event.commits[0].message, '[skip ci]')"
    uses: Final-Furlong/final_furlong/.github/workflows/_tests.yml@cypress-rails-gem
    needs: [ 'call-linters' ]
    secrets:
      lcov-token: ${{ secrets.LCOV_GITHUB_TOKEN }}
      code-climate-token: ${{ secrets.CC_TEST_REPORTER_ID }}
