name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CI: true
  RAILS_ENV: test

jobs:
  call-linters:
    uses: Final-Furlong/final_furlong/.github/workflows/_linters.yml@fix-actions

  danger:
    name: Danger
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
        run: |
          bin/danger

  call-security:
    uses: Final-Furlong/final_furlong/.github/workflows/_security.yml@fix-actions

  call-tests:
    uses: Final-Furlong/final_furlong/.github/workflows/_tests.yml@fix-actions
    needs: ['call-linters', 'call-security']
    secrets:
      code-climate-token: ${{ secrets.CC_TEST_REPORTER_ID }}


  reports:
    name: Test reporting
    needs: ['call-tests']
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3

      - name: Display structure of downloaded files
        run: ls -R

      - name: LCov Report
        uses: manarbenkraouda/lcov-reporter-action@v0.3.5.3
        with:
          github-token: ${{ secrets.LCOV_GITHUB_TOKEN }}
          lcov-file: ./lcov.info

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.2.0
        with:
          filename: ./coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: false
          indicators: true
          output: both
          thresholds: '60 80'
