javascript:
  function getCookie (cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  const savedMode = getCookie('mode')
  let darkMode = false;
  let colorTheme = '';
  if (savedMode === "dark") {
    darkMode = true;
    colorTheme = localStorage.getItem('color-theme') || getCookie('dark_theme')
  } else if (savedMode === "light") {
    colorTheme = localStorage.getItem('color-theme') || getCookie('light_theme')
  } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
    darkMode = true;
  }
  if (colorTheme) {
    document.documentElement.setAttribute('data-theme', colorTheme)
  }
  if (darkMode) {
    document.documentElement.classList.add('dark')
  }
